.noteBook{
    height: 100vh;
    width: 100vw;
    padding: 5%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;    
    background-image: linear-gradient(#DCC0B9,#AAA9C5);
}
.writingspace{   
    background-image: url("pad.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    line-height: 200%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    overflow-wrap: break-word;
    padding: 5%;
    height: 75vh;
    width: 75vw;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}